@model IEnumerable<JobPlatform.Models.Company>
@{
    ViewData["Title"] = "Index";
}

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>All Companies</h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="@item.PhotoUrl" alt="">
                                <h3>@item.Name</h3>
                                <h4>@item.Description</h4>
                                <ul>
                                    <li><a href="#" title="" class="follow">Follow</a></li>
                                </ul>
                            </div>
                        </div><!--company_profile_info end-->
                    </div>
                }
            </div>
        </div>
    </div><!--companies-list end-->

</section>

